@-webkit-keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
    }
}
@keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
    }
}

.header__top {
    background: none;
}

.wideContainer {
    background: linear-gradient(to right, #0d5195 50%, transparent 50%);
    width: 100%;
}

.container1540px {
    max-width: 1540px;
    margin: 0 auto;
}

.welcomeItem picture {
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: relative;
    opacity: 0.3;
}

.welcomeItem__body {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    white-space: nowrap;
}

.imgWrapper {
    width: 100%;
    text-align: center;
}

.welcomeTitle {
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

.headerNavigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toRight50 {
    padding-left: 100px;
}

.fleetItem {
    max-width: 500px;
}

.services, .gallery {
    font-size: 0.8125rem;
}

.services h3 {
    font-size: 1.5rem;
}

.services__text {
    margin-bottom: 3rem;
    line-height: 2rem;
}

.services__links {
    border: none;
    margin-bottom: 1rem;
}

.services__links a {
    color: #222222;
}

.services__links h4 {
    font-size: 0.8125rem;
    font-weight: bold;
}

.services__links img {
    margin-left: 1rem;
    max-width: 100%;
    max-height: 100%;
}

.hoverLinks:hover {
    background-color: #80b3e6;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.card__iconContainer {
    height: 35px;
    width: 45px;
}

.requestForm {
    background-color: #dbdbdb;
    max-width: 654px;
}

.messageField {
    height: 10rem;
}

.footer {
    background-color: #1c1c1c;
    color: #b9b5b5;
}

.footer__text {
    text-align: justify;
}

.logoContainer {
    justify-content: center;
    font-size: 1.5rem;
    display: flex;
    height: 1.5rem;
}

.contactsList {
    list-style: none;
}

.shadow-drop-2-center:hover {
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@media (min-width: 768px) {
    .headerNavigation {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}

@media (max-width: 577px) {
    .welcomeItem_second {
        justify-content: end;
    }
}
